<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head>
<title>Create a Layer</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/wh.css" />
</head><body><div id="central">
<h1 id="title"><a href=".">Whiteboard</a></h1>
<h2>New Layer</h2>
<% form_for @layer do |f| %>
  <%= hidden_field_tag :board_id, @layer.board_id%>
  <%= hidden_field_tag :token, params[:token] %>
  <%= f.custom_text_field :name, "Name" %>
  <p class="inputRow noLabel"><input id="board_submit" name="commit" type="submit" value="Create" /></p>
<%end%>

</div></body></html>

