<p>
  <b>Boardid:</b>
  <%=h @gallery.boardid %>
</p>

<p>
  <b>Revision:</b>
  <%=h @gallery.revision %>
</p>

<p>
  <b>Composite:</b>
  <img src=#{@gallery.composite} />
</p>

<p>
  <b>Thumbnail:</b>
  <img src=#{@gallery.thumbnail} />
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
